name: training-and-evaluating
on: [push]
jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
      - uses: iterative/setup-cml@v1
      - name: evaluate model
        env:
          REPO_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          pip install -r requirements.txt
#          python main.py
#
#          cat metrics.txt >> report.md
#          #cml publish plot.png --md >> report.md
#          cml send-comment report.md
